#home-page{
    padding: 20px;
    text-align: center;
}
#home-page ol{
    margin: 10px 2em 10px 0;
    list-style-position: inside;
}
nav{
    margin: 20px;
    text-align: center;
    background-color: rgb(255, 80, 80);
}
nav a{
    border: 3px solid black;
    width: 150px;
    height: 150px;
    margin: 10px 20px 10px 0;
    display: inline-block;
}
nav img{
    padding-top: 2rem;
    width: 50px;
    height: 50px;
}
nav h3{
    margin-top: 0;
}